.contacts-container{
    display: flex;
    width: 100%;
    height: 100vh;

    &-list{
        width: 350px;
        background: #fff;
    }

    &-detail{
        display: flex;
        flex: 1;
        border-left: 1px solid transparent;
        overflow: hidden;
    }
}