.setting-personal-dark{

    .user-info-content-item{
        background-color: #171A1C;
        .user-info-content-item-box{
            border-bottom: 1px solid #2F3437;
            span{
                color: #F9FAFA;
            }
        }
    }
}