.live-demo-header{
    height: 44px;
    background-color: #F1F2F3;
    border-bottom: 1px solid #E3E6E8;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .window-control-bar{
        margin-left: 14px;
        display: flex;
        gap: 8px;
        flex-direction: row;
        width: 52px;

        & > div{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #C8CDD0;
        }
    }

    .theme-button{
        width: 64px;
    }

    &-dark{
        background-color: #2F3437;
        border-bottom: 1px solid #464E53;
        .window-control-bar{
            & > div{
                background-color: #464E53;
            }
        }
    }
}