body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fafbfc;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.webim-loading {
    position: fixed;
    z-index: 3;
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.webim-rtc {
    position: absolute;
    width: 480px;
    height: 600px;
    top: 0;
    left: 0;
    z-index: 100;
}

.multi-webim-rtc {
    position: absolute;
    width: 600px;
    height: 480px;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFF;
    padding: 16px 20px 17px 20px;
    border: 0 solid #ADB9C1;
    box-shadow: 0 0 10px #ADB9C1;
}

.multi-webim-rtc .groupname {
    font-size: 24px;
    color: #333;
    line-height: 33px;
    font-weight: 400;
    margin-bottom: 8px;
}

.multi-webim-rtc .action-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.multi-webim-rtc .time {
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    margin-bottom: 10px;
}

.multi-webim-rtc video {
    height: 139px;
    width: 100%;
    background-size:100% 100%;
    background: #303D4E;
    border: 1px solid #F2F4F6;
    border-radius: 2px;
}

.multi-webim-rtc .default {
    height: 139px;
    width: 100%;
    background-size:100% 100%;
    background: #303D4E;
    border: 1px solid #F2F4F6;
    border-radius: 2px;
}

.multi-webim-rtc .user-name {
    height: 40px;
    width: 180px;
    background: rgba(35, 42, 45, 0.2);
    border-radius: 2px;
    position: absolute;
    bottom: 5px;
    padding: 10px;
}

.multi-webim-rtc .remote-ajust{
    bottom: 5px;
}

.multi-webim-rtc .user-name span{
    height: 20px;
    width: 28px;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    letter-spacing: 2px;
    font-weight: 400;
}

.multi-webim-rtc .user-name i{
    color: #FFF;
    float: right;
    font-size: 20px;
    margin-left: 8px;
    line-height: 20px;
    background-color: rgba(0, 186, 110, 1);
    border-radius: 50%;
    cursor: pointer;
} 

.multi-webim-rtc .user-name i.camera{
    background-color: rgba(251, 0, 22, 0.6);
}

.multi-webim-rtc .user-name i.camera-shut{
    background-color: rgba(251, 0, 22, 1);
}

.multi-webim-rtc .user-name i.sound{
    background-color: rgba(0, 186, 110, 0.6);
}

.multi-webim-rtc .user-name i.sound-shut{
    background-color: rgba(0, 186, 110, 1);
}

.multi-webim-rtc .video-divisor {
    height: 13px;
}

.multi-webim-rtc .tools-divisor {
    height: 30px;
}

.multi-webim-rtc .tools {
    height: 32px;
    text-align: center;
}

.multi-webim-rtc .tools i{
    font-size: 32px;
    line-height: 32px;
    color: rgba(83, 90, 93, 0.6);
    cursor: pointer;

}

/* .multi-webim-rtc .tools i.i-hover{
    color: rgba(83, 90, 93, 0.4);
}

.multi-webim-rtc .tools i.i-act{
    color: rgba(83, 90, 93, 1);
} */

.multi-webim-rtc .tools .hangup{
    height: 26px;
    width: 70px;
    background-color: #FF3B30;
    border-radius: 2px;
    margin: 3px auto;
    font-size: 12px;
    color: white;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 300;
    cursor: pointer;
}