body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  font-family: Roboto;
}

.cui-messageList {
  background-image: url("./assets/chat-background.svg");
  background-size: 231px 172px;
  background-position: center center;
  background-repeat: no-repeat;
}

.cui-messageList-msgItem {
  margin-bottom: 30px !important;
  position: relative;
  overflow: unset !important;
}

.cui-messageList-msgItem::after {
  display: flex;
  justify-content: center;
  content: "演示功能，无真实数据，仅限体验";
  color: #acb4b9;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  text-align: center;
  margin-top: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
